node_modules/
dist/
.DS_Store
.env
.env.local
.vscode/
.idea/
api/dist/
admin/dist/
landing/dist/
backend/
*.log
mongodb_data/
mongod.*
.turbo/
_IGNORE_widamine-session/
widamine-session/
api/_IGNORE_widamine-session/
.node-persist/
